# Obidian cache and workspace layout

.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/graph.json

# ───────────────────────────────
# Virtual environment
.notesVenv/
.env


# ───────────────────────────────
# Backup and cache folders
__pycache__/


# discard files
gitignore_*